<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @departement.description %>
</p>

<%= link_to 'Edit', edit_departement_path(@departement) %> |
<%= link_to 'Back', departements_path %>
