
<div class="container " style="margin-top: 50px;">
  <h3><i class="material-icons">mode_edit</i>  Modifier Organisme</h3>
<%= render 'form', organisme: @organisme %>

<%= link_to 'Retour', organismes_path %>
</div>
