<nav>
  <div class="nav-wrapper">
    <a class="brand-logo left margin10-left">Nouvel Organisme</a>
  </div>
</nav>

<div class="container">
<%= render 'form', organisme: @organisme %>

<%= link_to 'Back', organismes_path %>
</div>

