/*Mini-reset*/
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

.clearfix {
  clear: both;
  position: static; }

a:link {
  text-decoration: none;
  color: #00ffff; }

a:hover {
  text-decoration: none;
  color: #00ffff; }

a:visited {
  text-decoration: none;
  color: #00ffff; }

a:active {
  text-decoration: none;
  color: #00ffff; }

body {
  background-color: #878787;
  max-width: 100%;
  font-family: Helvetica, arial, "sans serif";
  font-size: 100%;
  overflow: hidden; }
  body .masterContainer {
    height: 100vh; }
    body .masterContainer header {
      width: 100%;
      background-color: #474747;
      box-shadow: 10px 10px 5px spread #aaaaaa;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 3%;
      padding-right: 0;
      color: #eb864d;
      margin-bottom: 1%;
      z-index: 0; }
      body .masterContainer header h1 {
        font-size: 2em; }
    body .masterContainer .articleContainer {
      width: 95%;
      margin-left: 3%;
      margin-right: auto;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 80vh; }
      body .masterContainer .articleContainer .left.col {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: 30%;
        overflow-y: scroll; }
        body .masterContainer .articleContainer .left.col .box {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          background-color: #e2dbcb; }
          body .masterContainer .articleContainer .left.col .box input {
            background: white url("./images/loupe.png") right no-repeat;
            -webkit-flex-grow: 2;
            -ms-flex-positive: 2;
            flex-grow: 2;
            margin-left: 2%;
            margin-top: 2%;
            margin-bottom: 2%;
            width: 70%;
            height: 3em; }
          body .masterContainer .articleContainer .left.col .box a {
            vertical-align: middle;
            text-align: center;
            margin-top: 2%;
            padding-left: 1%;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1; }
            body .masterContainer .articleContainer .left.col .box a img {
              width: 60%;
              height: auto; }
        body .masterContainer .articleContainer .left.col li.box {
          padding-top: 3%;
          padding-bottom: 3%;
          padding-left: 5%;
          padding-right: 0;
          text-align: left; }
          body .masterContainer .articleContainer .left.col li.box a {
            text-align: left; }
        body .masterContainer .articleContainer .left.col li:nth-child(even) {
          background-color: #e2dbcb; }
        body .masterContainer .articleContainer .left.col li:nth-child(odd) {
          background-color: #e4e2dd; }
      body .masterContainer .articleContainer .right.col {
        width: 67%;
        -webkit-flex-grow: 3;
        -ms-flex-positive: 3;
        flex-grow: 3;
        background-color: #eeebe3;
        padding-top: 3%;
        padding-bottom: 0;
        padding-left: 3%;
        padding-right: 3%; }
        body .masterContainer .articleContainer .right.col h2 {
          font-size: 1.7em; }
        body .masterContainer .articleContainer .right.col h3 {
          font-size: 1.5em; }
        body .masterContainer .articleContainer .right.col table {
          margin-left: 2%; }
          body .masterContainer .articleContainer .right.col table td {
            padding: 2%;
            vertical-align: baseline; }
            body .masterContainer .articleContainer .right.col table td p {
              padding-top: 0;
              padding-bottom: 2%;
              padding-left: 2%;
              padding-right: 0; }
          body .masterContainer .articleContainer .right.col table td:nth-child(2) {
            margin-left: 5%; }
          body .masterContainer .articleContainer .right.col table .rowDesc {
            font-weight: bold; }
  body .col {
    width: 46.5%;
    margin-right: 1%;
    background-color: blue; }
  body footer {
    text-align: center;
    color: #eb864d;
    background: #474747;
    padding-top: 1%;
    padding-bottom: 1%; }
