<div class="container">
  <div class="padding">
    <h5 class="header">Ajouter un nouveau référent</h5>
    <%= render 'form', referent: @referent%>

    <%= link_to 'Back', referents_path %>

  </div>

</div>
